.spendingBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0.875rem 1.125rem;
  border: 2px solid #d8d8d8;
  border-radius: 11px;
  min-width: 450px;
}
.spendingTitle {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
}

.itemName {
  background-color: #cee5c5;  
  max-width: 400px;
}

.add {
  display: flex;
  margin-top: 10px;
  max-width: 400px;
  overflow-wrap: normal;
  color: white;
  font-weight: 400;
}

.summaryTitle {
  color: #56694f;
  background-color:#fdf1d1; 
  padding: 10px; 
  border-radius: 10px;
  font-size: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #56694f;
}

.bugettingTitle {
  color:#cd9b59; 
}

.data {
  color:#fdf1d1; 
  font-size: 1.2rem;
}

.tags {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  color: #cd9b59; 
}

.welcome {
  margin-left: -30px;
  margin-right: 5px;
  color: #56694f;
  font-weight: bold;
}

.deleteButton {
  margin-top: 10px;
  background-color: #c85649;
  color: white; 
  border: none; 
  padding: 6px 10px;
  border-radius: 4px; 
  cursor: pointer; 
}

.bucketBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#totalSpendings{
  align-self: center;
  font-size: 15px;
  line-height: 17px;
  padding: 15px;
  width: 300px;
  overflow-wrap: break-word;
  text-align: center;
}
