.finance{
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.spendings {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}


.spendingTotal {
  font-size: 1.5rem;
  background-color: #56694f;
  padding: 10px; 
  border-radius: 5px;
  color: #cee5c5;
}

#notes{
  width: 358px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px; 
  overflow: hidden;
  resize: none;
}

#totalSpendings{
  align-self: center;
  font-size: 15px;
  line-height: 17px;
  padding: 15px;
  width: 300px;
  overflow-wrap: break-word;
  text-align: center;
}
.spendingBox {
  background-color: #56694f;
  border-radius: 20px;
  display: flex;
  flex-direction: column; 
  align-items: stretch;
  justify-content: center;
  
}

.newSpendingTypeButton{
  display: flex;
  margin: 0 auto;
}


.spendingTitle {
  font-size: 1.5rem;
  text-align: center;
  background-color: #fdf1d1;
  padding: 20px; 
  border-radius: 5px;
  color: #cd9b59;
}

.heading {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* for the home page */
.container {
  display: flex;
  padding: 50px;
  background-color: #56694f;
  align-items: center;
}

.incomeTitle {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color:#d1e2ca; 
  color:#56694f; 
  border-color:#56694f; 
  border-style: solid;
  border-width: 10px;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center; 
}

.infoGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 30px;
  gap: 30px; 
}

.infoGrid > div{
  padding: 50px; 
  background-color:#fdf1d1; 
  color:#cd9b59; 
  border-radius: 10px;
  border-color:#56694f; 
  border-style: solid;
  border-width: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center; 
  max-width: 30rem;
}

.text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  color: #56694f;
  background-color:#fdf1d1; 
  padding: 10px 20px; 
  border-radius: 10px;
  font-size: 3rem;
}

.coins {
  margin-left: 100px;
  width: 300px;
}

/* end of the home page */

.addItem{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summaryContainer{
  margin: 0 auto;
  margin-top: 10px;
  background-color: #56694f;
  border-radius: 20px;
  width: 1100px;
  padding: 10px;
}
.summaryTitle{
  text-align: center;
}
.summaryBox {
  display: flex;
}
.summaryContext {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 30%;
}

.info{
  background-color: white;
  margin: 7px;
  padding: 10px;
  border-radius: 10px;
  flex: 1;
}

.dataContainer{
  display: flex;
  margin-left: 50px;
}
.dataBox{
  display: flex;
  flex-direction: column;
}

.bugettingTitle{
  text-align: left;
}

.data{
  position: relative;
  margin-top: 8px;
}

.chart{
  margin-left: 125px;
  padding-top: 50px;
  display: flex;
}